<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    editable="true"
    id="EmailAddressInputSet"
    visible="true">
    <Require
      name="anABContact"
      type="ABContact"/>
    <ReferencedWidget
      widget="EmailAddressInputSet"/>
    <Label
      label="&quot;Email Addresses&quot;"/>
    <TextInput
      editable="true"
      id="emailAddress1"
      label="&quot;Email Address 1&quot;"
      value="anABContact.EmailAddress1"/>
    <TextInput
      editable="true"
      id="emailAddress2"
      label="&quot;Alternate&quot;"
      value="anABContact.EmailAddress2"/>
  </InputSet>
</PCF>