<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="ABContactCoverableDV">
    <Variable
      name="anABContact"
      type="ABContact"/>
    <Variable
      name="anCoverable"
      type="Coverable_Ext"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Training.Coverable&quot;)"
        visible="true"/>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>