<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="ABContactCoverableDV">
    <Require
      name="anABContact"
      type="ABContact"/>
    <Variable
      initialValue="(anABContact.Coverable != null)?anABContact.Coverable:anABContact.Coverable"
      name="anCoverable"
      type="Coverable_Ext"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="ContactTier"
        label="&quot;Contact Tier&quot;"
        value="anABContact.ContactTier"
        valueRange="typekey.ContactTier.AllTypeKeys"
        valueType="typekey.ContactTier"
        visible="false"/>
      <TextInput
        id="ContactName"
        label="&quot;Contact Name&quot;"
        value="anABContact.DisplayName"
        valueType="java.lang.String"
        visible="true"/>
      <TypeKeyInput
        editable="true"
        id="CoverableType"
        label="&quot;Coverable Type&quot;"
        value="anABContact.Coverable.TypeCoverable"
        valueType="typekey.CoverableType"
        visible="true">
        <PostOnChange/>
      </TypeKeyInput>
      <InputDivider/>
      <TextInput
        editable="true"
        id="CoverableAutoLicensePlate"
        label="&quot;License Plate&quot;"
        value="anABContact.Coverable.LicensePlate"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
      <TextInput
        editable="true"
        id="CoverableAutoBrand"
        label="&quot;Brand&quot;"
        value="anABContact.Coverable.Brand"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
      <TextInput
        editable="true"
        id="CoverableAutoModel"
        label="&quot;Model&quot;"
        value="anABContact.Coverable.Model"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
      <TextInput
        editable="true"
        id="CoverableAutoYear"
        label="&quot;Year&quot;"
        value="anABContact.Coverable.Year"
        valueType="java.lang.Integer"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
      <BooleanRadioInput
        editable="true"
        id="CoverableAutoWinterTires"
        label="&quot;Winter Tires&quot;"
        value="anABContact.Coverable.WinterTires"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
      <TextInput
        editable="true"
        id="CoverableAutoColor"
        label="&quot;Color&quot;"
        value="anABContact.Coverable.Color"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
      <InputDivider
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}"/>
      <TypeKeyInput
        editable="true"
        id="CoverableDwellingRoof"
        label="&quot;Roof Type&quot;"
        value="anABContact.Coverable.RoofType"
        valueType="typekey.RoofType_Ext"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="CoverableDwellingHeating"
        label="&quot;Heating Type&quot;"
        value="anABContact.Coverable.HeatingType"
        valueType="typekey.HeatingType_Ext"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="CoverableDwellingConstructionMaterial"
        label="&quot;Construction Material&quot;"
        value="anABContact.Coverable.ConstructionMaterial"
        valueType="typekey.ConstructionMaterial_Ext"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="CoverableDwellingOcupationType"
        label="&quot;Occupation Type&quot;"
        value="anABContact.Coverable.OccupationType"
        valueType="typekey.OccupationType_Ext"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}">
        <PostOnChange/>
      </TypeKeyInput>
      <TextInput
        editable="true"
        id="CoverableDwellingMeters"
        label="&quot;Meters&quot;"
        value="anABContact.Coverable.Meters"
        valueType="java.lang.Integer"
        visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>