<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.ABContact.viewsearch"
    id="AddContact"
    title="DisplayKey.get(&quot;Web.Contacts.EPICS&quot;)">
    <LocationEntryPoint
      signature="AddContact()"/>
    <LocationEntryPoint
      signature="AddContact(requiredContactType : Type)"/>
    <Variable
      initialValue="entity.ABContact"
      name="requiredContactType"
      type="Type"/>
    <Screen>
      <Variable
        name="parentContact"
        type="ABContact"/>
      <Variable
        initialValue="false"
        name="createdContact"
        type="Boolean"/>
      <Toolbar>
        <ToolbarButton
          action="AddContactPopup.push(entity.ABPerson, parentContact);"
          id="addPerson"
          label="DisplayKey.get(&quot;Contact.AddPerson&quot;)"/>
        <ToolbarButton
          action="AddContactPopup.push(entity.ABCompany, parentContact);"
          id="addCompany"
          label="DisplayKey.get(&quot;Contact.AddCompany&quot;)"/>
      </Toolbar>
    </Screen>
  </Page>
</PCF>
