<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="ABContactSummaryCV">
    <Require
      name="anABContact"
      type="ABContact"/>
    <Variable
      initialValue="anCoverable"
      name="anCoverable"
      type="Coverable_Ext"/>
    <Variable
      initialValue="anCoverage"
      name="anCoverage"
      type="Coverage_Ext"/>
    <Card
      id="Basics"
      title="DisplayKey.get(&quot;Web.ContactDetail.PageLinks.Basics&quot;)">
      <PanelRef
        def="ABContactSummaryDV(anABContact)">
        <Toolbar>
          <ToolbarButton
            action="trainingapp.base.AssignedUserUtil.selectLeastBusyUser(anABContact)"
            available="CurrentLocation.InEditMode"
            id="SuggestLeastBusyUserButton"
            label="DisplayKey.get(&quot;Training.SuggestLeastBusyUser&quot;)"
            visible="false"/>
        </Toolbar>
      </PanelRef>
    </Card>
    <Card
      id="SocialMedia"
      title="DisplayKey.get(&quot;Training.SocialMedia&quot;)"
      __disabled="true">
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="DisplayKey.get(&quot;Training.InstructorComplete&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
    </Card>
    <Card
      id="AnalysisCard"
      title="DisplayKey.get(&quot;Training.Analysis&quot;)"
      __disabled="true">
      <PanelRef
        def="ABContactAnalysisDV(anABContact)"/>
    </Card>
    <Card
      id="Coverables"
      title="DisplayKey.get(&quot;Proyecto.Coverable&quot;)">
      <PanelRef
        def="ABContactCoverableDV(anABContact)"/>
    </Card>
    <Card
      id="PolizaID"
      title="&quot;Polizas&quot;">
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            editable="true"
            id="PolicyNumber"
            label="&quot;N&#250;mero de Poliza&quot;"
            value="anABContact.Poliza.Numero"
            valueType="java.lang.Integer"
            visible="true"/>
          <DateInput
            editable="true "
            id="EffectiveDAtePolicy"
            label="&quot;Fecha Efectiva&quot;"
            value="anABContact.Poliza.FechaEfectiva"/>
          <TypeKeyInput
            editable="false  "
            id="CoverableTypeID2"
            label="&quot;Coverable Type&quot;"
            value="anABContact.Coverable.TypeCoverable"
            valueType="typekey.CoverableType"
            visible="true">
            <PostOnChange/>
          </TypeKeyInput>
          <TextInput
            formatType="exactNumber"
            id="CoverableCosto"
            label="DisplayKey.get(&quot;Contact.CoverableCost&quot;)"
            value="anABContact.Coverable.CoverableCost"
            valueType="java.lang.Integer"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="&quot;Coberturas Para Auto&quot;"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
          <BooleanRadioInput
            editable="true "
            id="DamageAgainstOthersID"
            label="&quot;Da&#241;os a Terceros&quot;"
            value="anABContact.Poliza.CoverageExt.DAO"
            valueType="java.lang.Boolean "
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}">
            <PostOnChange/>
          </BooleanRadioInput>
          <TextInput
            editable="true "
            id="DamageAgainstPrueba"
            label="&quot;Damage Against Others&quot;"
            value="anCoverage.DamageAgainstOthers"
            valueType="java.lang.Integer"/>
          <BooleanRadioInput
            editable="true "
            id="CrushesID"
            label="&quot;Choques&quot;"
            value="anABContact.Poliza.CoverageExt.Choques"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}">
            <PostOnChange/>
          </BooleanRadioInput>
          <BooleanRadioInput
            editable="true "
            id="AccidentsID"
            label="&quot;Accidentes&quot;"
            value="anCoverage.TestValue"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
          <BooleanRadioInput
            editable="true "
            id="WinterTiresID"
            label="&quot;LLantas de Invierno&quot;"
            value="anCoverage.TestValue "
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
          <BooleanRadioInput
            editable="true "
            id="ElectricalSystemsID"
            label="&quot;Sistemas El&#233;ctricos&quot;"
            value="anCoverage.TestValue"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Auto&quot;){return true}else{return false}"/>
          <Label/>
        </InputColumn>
        <InputColumn>
          <Label
            label="&quot;Coberturas Para Propiedades&quot;"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}"/>
          <BooleanRadioInput
            editable="true "
            id="BaseID"
            label="&quot;Base&quot;"
            value="anCoverage.TestValue"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}"/>
          <BooleanRadioInput
            editable="true "
            id="PersonalBelongingsID"
            label="&quot;Bienes Personales&quot;"
            value="anCoverage.TestValue"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}"/>
          <BooleanRadioInput
            editable="true "
            id="EarthquakesID"
            label="&quot;Terremotos&quot;"
            value="anCoverage.TestValue"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}"/>
          <BooleanRadioInput
            editable="true "
            id="FiresID"
            label="&quot;Incendios&quot;"
            value="anCoverage.TestValue"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}"/>
          <BooleanRadioInput
            editable="true "
            id="FloodingID"
            label="&quot;Innundaciones&quot;"
            value="anCoverage.TestValue"
            visible="if((anABContact.Coverable.TypeCoverable as String) == &quot;Dwelling&quot;){return true}else{return false}"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            id="PrimaEnhancement"
            label="&quot;Prima Enhancement&quot;"
            value="anABContact.CalculoPrima"
            visible="if(anABContact typeis ABPerson){return true}else{return false}"/>
          <TextInput
            id="Edad"
            label="DisplayKey.get(&quot;Contact.Age&quot;)"
            value="(anABContact as ABPerson).AgeReal"
            visible="if(anABContact typeis ABPerson){return true}else{return false}"/>
          <TextInput
            editable="true "
            id="PrimaID"
            label="&quot;Prima&quot;"
            value="anABContact.Poliza.Prima"
            valueType="java.lang.Integer"/>
        </InputColumn>
      </DetailViewPanel>
    </Card>
    <Card
      id="Coveragesid"
      title="DisplayKey.get(&quot;Proyecto.Coverages&quot;)"
      __disabled="true">
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="&quot;Car Coverages&quot;"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="&quot;Dwelling Coverages&quot;"/>
        </InputColumn>
      </DetailViewPanel>
    </Card>
  </CardViewPanel>
</PCF>